.navbar{
        display: flex;
        align-items: center;

}
.logo{
       display: flex;
       justify-content: space-between;
       color: white;
       background: linear-gradient(rgb(111, 111, 216),rgb(238, 152, 238),rgb(23, 187, 252));
        margin: 0;
       font-size: 20px;
}
.menu{
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: auto;
}
.menu a{
        color: aliceblue;
        text-decoration: none;
        font-size: 16px;
}
.menu button{
        padding: 7px 14px;
        border: 1px solid white;
        border-radius: 5px;
        background: transparent;
        color: aliceblue;
}
.hero{
        background-image: url("c:/Users/acer/Pictures/Screenshots/Screenshot 2026-09-22 182918.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: left;
        margin-top: 10px;
        height: 430px;
        padding: 40px;
}
.main{
        color: rgb(131, 54, 131);
}
.par{
        background-color: #c9d2e0;
        border-radius: 50px;
        width: 20%;
}
.button{
       gap: 20px;
       padding: 10px;
}
.but{
        background-color: rgb(101, 102, 202);
        color: white;
        border: 2px solid rgb(228, 11, 199);
    }
.para{
        color:rgb(167, 66, 108)

    }
.ton{
  border: 2px solid rgb(228, 9, 228);
  gap: 10px;
}
.web{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.web svg{
        color: rgb(184, 30, 30);
}
.soft{
       width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.soft svg{
        color: #00050c;
} 
.data{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.data svg{
        color: #b16a6e;
}
.jobs{
        display: flex;
        width:100%;
        justify-content: center;
        border: 1px solid #ddd;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0px 2px 5px #dad3d3;
        padding: 20px;
        gap:30px;
        margin-top: 30px;
}
.clo{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.clo svg{
        color: rgb(221, 139, 139);
}
.cyb{
       width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.cyb svg{
        color: rgb(179, 182, 182);
        
} 
.base{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.base svg{
        color: rgb(48, 48, 97);
}
.test{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.test svg{
        color: rgb(240, 185, 6);
}

.mobi{
       width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
} 
.mobi svg{
        color: rgb(5, 233, 157);
}
.it{
        width: 25%;
        background: rgb(250, 250, 252);
        padding: 25px;
        border-radius:12px;
        box-shadow: 0 0 10px rgb(113, 198, 212);    
}
.it svg{
        color: rgb(30, 11, 202);
}







